﻿
@model ConfigurationModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var buttonName = "Ekle";
    var actionName = "Create";
    var title = "Ekle";
}
@if (Model.Id!=null)
{
    buttonName = "Güncelle";
    actionName = "Update";
    title = "Güncelle";
}

<form asp-controller="Home" asp-action=@actionName method="post" class="content" enctype="multipart/form-data">
    @if (Model.Id != null)
    {
        <input asp-for="Id" type="hidden" value="@Model.Id" />
    }
    <div class="form-group">
        <label asp-for="Name" class="control-label">İsim</label>
        <input asp-for="Name" type="text" value="@Model.Name" class="form-control" placeholder="ex: site name">
        <div><span class="text-danger" asp-validation-for="Name"></span></div>
    </div>
    <div class="form-group">
        <label asp-for="Type" class="control-label">Tip</label>
        <select asp-for="Type" class="selectpicker form-control">
            <option value="0">Bool</option>
            <option value="1">Byte</option>
            <option value="2">String</option>
            <option value="3">Decimal</option>
            <option value="4">Double</option>
            <option value="5">Float</option>
            <option value="6">Integer</option>
            <option value="7">Long</option>
        </select>
        <div><span class="text-danger" asp-validation-for="Type"></span></div>
    </div>
    <div class="form-group">
        <label asp-for="Value" class="control-label">Değer</label>
        <input asp-for="Value" class="form-control" placeholder="ex: boyner.com.tr" type="text">
        <div><span class="text-danger" asp-validation-for="Value"></span></div>
    </div>
    <div class="form-group">
        <label asp-for="ApplicationName" class="control-label">Servis Adı</label>
        <input asp-for="ApplicationName" class="form-control" placeholder="ex: service-a" type="text">
        <div><span class="text-danger" asp-validation-for="ApplicationName"></span></div>
    </div>
    <button type="submit" class="btn btn-primary">@buttonName</button>
    <button type="button" class="btn btn-default">
        <a asp-controller="Home" asp-action="Index">
            Vazgeç
        </a>
    </button>
</form>