﻿@model List<ConfigurationModel>
@{
    ViewData["Title"] = "Home Page";
}

<!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Configuration Center</h3>
    <div class="card-body">
        <div id="table" class="table-editable">
            <span class="table-add float-right mb-3 mr-2">
                <a href="#!" class="text-success">
                    <i class="fas fa-plus fa-2x" aria-hidden="true"></i>
                </a>
            </span>
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <thead>
                    <tr>
                        <th class="text-center">İsin</th>
                        <th class="text-center">Tip</th>
                        <th class="text-center">Değer</th>
                        <th class="text-center">Servis Adı</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            <tr>
                                <td class="pt-3-half" contenteditable="true">@item.Name</td>
                                <td class="pt-3-half" contenteditable="true">@item.TypeName</td>
                                <td class="pt-3-half" contenteditable="true">@item.Value</td>
                                <td class="pt-3-half" contenteditable="true">@item.ApplicationName</td>
                                <td>
                                    <span class="table-remove">
                                        <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-rounded btn-sm my-0">Sil</a>
                                    </span>
                                    <span class="table-remove">
                                        <a asp-controller="Home" asp-action="Create" asp-route-id="@item.Id" class="btn btn-danger btn-rounded btn-sm my-0">Düzenle</a>
                                    </span>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Editable table -->
